<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">COMO USAR</h5>
        <p class="grey-text text-lighten-4">Entre com um numero de telefone e se esse telefone estiver cadastrado no whatsapp, converse com esse numero sem precisar salvar nada na agenda!</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Obter Whatsapp</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://play.google.com/store/apps/details?id=com.whatsapp">Download Whatsapp Android</a></li>
          <li><a class="grey-text text-lighten-3" href="http://itunes.apple.com/us/app/whatsapp-messenger/id310633997?mt=8">Download Whatsapp iPhone</a></li>
          <li><a class="grey-text text-lighten-3" href="https://www.microsoft.com/pt-br/p/whatsapp-desktop/9nksqgp7f2nh">Download Whatsapp Windows 10</a></li>
          <li><a class="grey-text text-lighten-3" href="https://web.whatsapp.com/desktop/windows/release/x64/WhatsAppSetup.exe">Download Whatsapp Windows</a></li>
          <li><a class="grey-text text-lighten-3" href="https://web.whatsapp.com/desktop/mac/files/WhatsApp.dmg">Download Whatsapp Mac OS X 10.9 ou superior</a></li>
          <li><a class="grey-text text-lighten-3" href="https://www.microsoft.com/store/apps/9wzdncrdfwbs">Download Whatsapp Windows Fone</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Copyright ZOOM IN IT © {{ ano }}
    <a class="grey-text text-lighten-4 right" target="_blank" href="https://zoominit.com.br/contato">DUVIDAS ACESSE</a>
    </div>
  </div>
</footer>
